
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <input class="inputsmall" id="username" type="text" formControlName="username" placeholder="Nom d'utilisateur">
    <input class="inputsmall" id="password" type="password" formControlName="password" placeholder="Mot de passe">
    <input id="remember" class="rememberme" type="checkbox">
    <label for="remember" style="color: #1569CA;">Se souvenir de moi</label>
    <button class="button" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
  </form>

  <a href=''> Retour vers la page principale </a>
