<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../style.css">
        <title>PageModif</title>
    </head>
<body>
    <form [formGroup]="formModif" (ngSubmit)="onSubmit()">
        <input type="text" class="inputsmall" placeholder="Modifier le nom d'utilisateur" formControlName="nusername"><br>
        <input type="password" class="inputsmall" placeholder="Ancien mot de passe" formControlName="oldpassword"><br>
        <input type="password" class="inputsmall" placeholder="Nouveau mot de passe" formControlName="npassword"><br>
        <input type="password" class="inputsmall" placeholder="Vérifiez le nouveau mot de passe" formControlName="npasswordbis"><br>
        <button type="submit" [disabled]="myForm.invalid" class="button">Valider la modification</button>
    </form>

    <p *ngIf="myForm.dirty" && myForm.controls.nusername.invalid>Message d'erreur: {{ getErrors(username)}}</p>
</body>
</html>
