    <form [formGroup]="formModif" (ngSubmit)="onSubmit()">
        <input type="text" class="inputsmall" placeholder="Modifier le nom d'utilisateur" formControlName="nusername"><br>
        <input type="password" class="inputsmall" placeholder="Ancien mot de passe" formControlName="oldpassword"><br>
        <input type="password" class="inputsmall" placeholder="Nouveau mot de passe" formControlName="npassword"><br>
        <input type="password" class="inputsmall" placeholder="Vérifiez le nouveau mot de passe" formControlName="npasswordbis"><br>
        <button type="submit" [disabled]="formModif.invalid" class="button">Valider la modification</button>
    </form>

    <hr>

    <a href=''> Retour vers la page principale </a>