<!DOCTYPE html>
<html lang="en">
<body>


<!-- <p>login-page works! {{ message }} </p> -->

<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <input type="text" name="username" formControlName="username">
    <input type="password" name="password" formControlName="password">
    <button type="submit" [disabled]="myForm.invalid">Login</button>
</form> -->

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label for="username">Username: </label>
    <input id="username" type="text" formControlName="username">
    <!-- <p *ngIf="loginForm.dirty" && loginForm.controls.username.invalid>Message d'erreur: {{ getUsernameErrors()}}</p> -->

    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password">
    <!-- <p *ngIf="loginForm.dirty" && loginForm.controls.password.invalid>Message d'erreur: {{ getPasswordErrors()}}</p> -->

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>

</body>
</html>
