
    <ul class="nav-links">
    <li>
        <button id="buttonAccueil" (click)="clickAccueil()">Accueil</button>
     </li>
     <li>
        <button id="buttonCreaCompte" (click)="clickCreationCompte()" *ngIf="user.id==0">Créer compte</button>
        <button id="buttonModifCompte" (click)="clickModifCompte()" *ngIf="user.id>0">Modifier compte</button>
     </li>
     <li>
        <button id="buttonLogin" (click)="clickLogout()" *ngIf="user.id==0">Login</button>
        <button id="buttonLogout" (click)="clickLogout()" *ngIf="user.id>0">Logout</button>
     </li>
    </ul>
    
