<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
<mat-form-field class="example-full-width inputsmall">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field class="example-full-width inputlarge">
    <mat-label>Message</mat-label>
    <textarea matInput formControlName="message"></textarea>
  </mat-form-field>

  <button type="submit" class="button" mat-raised-button color="primary">Ajouter un nouveau sujet</button>
</form>

  <mat-form-field class="example-full-width inputsmall">
    <mat-label>Filtrer par titre ou par auteur</mat-label>
    <input type="text"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="topicline" *ngFor="let option of filteredOptions  | async">
  <h2 class="topic" (mouseleave) ="mouseLeave()" *ngIf="in">{{option}} User1 Date1</h2>
  <h2 class="topic" (mouseenter) ="mouseEnter()" *ngIf="!in">{{option}} </h2>
    <button type="submit" class="btn" mat-raised-button color="primary">Modifier</button>
    <button type="submit" class="btn" mat-raised-button color="warn">Supprimer</button>
  </div>