<div *ngIf="activeTopic">

    <h1 class="topicline topic">{{activeTopic.title}}</h1>

    <div class="topicline">
    <h4 class="topicline topic" style="color: black;">Sujet ajouté le {{activeTopic.date | date:"dd/MM/yy"}} par {{activeTopic.author.username}}</h4>
    <button class="btn" (click)="refresh()" mat-raised-button color="primary">Actualiser</button>
    </div>

    <div class="inputlarge" *ngFor="let message of activeTopic.messages">
        {{message.author.username}} : <span style="color: black;">{{message.content}}</span>
    </div>


    <form (ngSubmit)="onSubmit()" [formGroup]="myform">
        <mat-form-field class="example-full-width inputlarge">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="content"></textarea>
        </mat-form-field>

        <button type="submit" class="button" mat-raised-button color="primary">Répondre</button>
    </form>
</div>