<div *ngIf="activeTopic">

    <h1 class="topicline topic">{{activeTopic.title}}

    </h1>
    <h6 class="topicline topic">{{activeTopic.date}}{{activeTopic.author.username}}</h6>

    <button (click)="refresh()" id="actualisation">actualiser</button>

    <div class="inputlarge" *ngFor="let message of activeTopic.messages">
        {{message.author.username}}

        <div>
            {{message.content}}
        </div>
    </div>


    <form (ngSubmit)="onSubmit()" [formGroup]="myform">
        <input type="text"  formControlName="content" class="example-full-width inputsmall">



        <input type="submit"  class="button" value = "répondre">

    </form>
</div>