/*Header*/

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: #1569CA;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

/*Inputs*/
::placeholder { 
  color: #1569CA;
  opacity: 1;
}

.inputsmall {
    width: 99.4%;
    margin: 40px 0px 0px 0px;
    color: #1569CA;
}

.inputlarge {
    width: 99.4%;
    margin: 8px 0px 0px 0px;
    color: #1569CA;
}

.button {
    width: 100%;
    margin: 8px 0px 0px 0px;
    color: white;
}

.filtre {
    width: 99.4%;
    margin: 40px 0px 0px 0px;
    border: solid #1569CA 2px;
    color: #1569CA;
}

.topicline{
    display: flex;
}

.topic {
    font-size: 30px;
    font-weight: 500;
    color: #1569CA;
    width: 100%;
}
.details {
    font-size: 25px;
    font-weight: 500;
    color: #160c9c;
    width: 100%;
}

.btn {
    color: white;
    width: 100px;
}

.rememberme {
    margin-top: 20px;
    margin-bottom: 20px;
}