/*Header*/

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: #1569CA;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

/*Inputs*/
::placeholder { 
  color: #1569CA;
  opacity: 1;
}

.inputsmall {
    width: 99.4%;
    margin: 40px 0px 0px 0px;
    border: solid #1569CA 2px;
    color: #1569CA;
}

.inputlarge {
    width: 99.4%;
    margin: 8px 0px 0px 0px;
    border: solid #1569CA 2px;
    height: 100px;
    color: #1569CA;
}

.button {
    width: 100%;
    margin: 8px 0px 0px 0px;
    background-color: #1569CA;
    border: solid #1569CA 2px;
    color: white;
}

.filtre {
    width: 99.4%;
    margin: 40px 0px 0px 0px;
    border: solid #1569CA 2px;
    color: #1569CA;
}

.topicline{
    display: inline-block;
}

.topic {
    color: #1569CA;
    width: 50%;
}

.btnmodif {
    color: white;
    background-color: #1569CA;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 33.95%;
}

.btnsupp {
    color: white;
    background-color: red;
    border: none;
    width: 100px;
    height: 40px;
}


.rememberme {
    margin-top: 20px;
    margin-bottom: 20px;
}