<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <title>CreationPage</title>
</head>
<body>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <input class="inputsmall" type="text" placeholder="Nom d'utilisateur" formControlName="username">
        <input class="inputsmall" type="password" placeholder="Mot de passe">
        <input class="inputsmall" type="password" placeholder="Confirmer le mot de passe">
        <input id="remember" class="rememberme" type="checkbox">
        <label for="remember" style="color: #1569CA;">Se souvenir de moi</label>
        <input class="button" type="submit" value="Créer un compte">
    </form>

    <p *ngIf="myForm.dirty && myForm.controls.username.invalid">Message d'erreur : {{getUsernameErrors() }}</p>
</body>
</html>